<select name="addbbcode21" onchange="bbfontstyle('[install]' + this.form.addbbcode21.options[this.form.addbbcode21.selectedIndex].value + ' [code]', '[/code][/install]');this.form.addbbcode21.selectedIndex = 0;" title="{L_MODX_CMD}">
              <option value="0" selected="selected" style="display: none">{L_MODX_CMD}</option>
                <option value="{L_BBCODE21_FIND}">{L_MODX_FIND}</option>
                <option value="{L_BBCODE21_AFTER}">{L_MODX_ADD_AFTER}</option>
                <option value="{L_BBCODE21_BEFORE}">{L_MODX_ADD_BEFORE}</option>
                <option value="{L_BBCODE21_REPLACE}">{L_MODX_REPLACE_WITH}</option>
                <option value="{L_BBCODE21_DELETE}">{L_MODX_DELETE}</option>
                <option value="{L_BBCODE21_INFIND}">{L_MODX_IN_LINE_FIND}</option>
                <option value="{L_BBCODE21_INAFTER}">{L_MODX_IN_LINE_ADD_AFTER}</option>
                <option value="{L_BBCODE21_INBEFORE}">{L_MODX_IN_LINE_ADD_BEFORE}</option>
                <option value="{L_BBCODE21_INREPLACE}">{L_MODX_IN_LINE_REPLACE_WITH}</option>
</select>
